# Reading and Writing to csv

In [2]:
import pandas as pd

flights = pd.read_csv("../datasets/flights.csv")
flights.to_csv('../datasets/flights.csv')

# Reading and Writing to feather

In [4]:
import pyarrow.feather as feather

feather.write_feather(flights, '../datasets/flights.feather')
flights = feather.read_feather('../datasets/flights.feather')

# Reading and Writing to excel files

In [5]:
df = pd.read_excel('../datasets/excel_example.xlsx')

   col a  cal b
0      1      5
1      2      6
2      3      7
3      4      8

In [7]:
df2 = pd.read_excel('../datasets/excel_example.xlsx', sheet_name='sheet2', header=None)
df2.head()

   0  1
0  a  e
1  b  f
2  c  g
3  d  h